<mat-toolbar color="primary">
    <span class="navbar-title" [routerLink]="RouterEnum.home"> 
        <span class="white-color">&lt;</span> 
        <span class="yellow-color">Kieleckie dni informatyki</span> 
        <span class="white-color">/&gt;</span>
    </span>
    <span class="spacer"></span>
    <button *ngIf="!(user$ | async)" 
     mat-button [routerLink]="RouterEnum.login">Zaloguj</button>
    <span class="divider" *ngIf="!(user$ | async)">|</span>
    <button *ngIf="!(user$ | async)" mat-button [routerLink]="RouterEnum.register">Zarejestruj</button>
    <ng-container *ngIf="user$ | async as user">
        <button mat-button (click)="logout()">Wyloguj</button>
    </ng-container>
</mat-toolbar>
