<mat-toolbar color="primary">
  <span class="navbar-title" [routerLink]="RouterEnum.home">
    <span class="white-color">&lt;</span>
    <span class="yellow-color">Kieleckie dni informatyki</span>
    <span class="white-color">/&gt;</span>
  </span>
  <span class="spacer"></span>
  <button *ngIf="!(user$ | async)" mat-button [routerLink]="RouterEnum.login">Zaloguj</button>
  <span class="divider" *ngIf="!(user$ | async)">|</span>
  <button *ngIf="!(user$ | async)" mat-button [routerLink]="RouterEnum.register">Zarejestruj</button>
  <button *ngIf="user$ | async" mat-button (click)="logout()">Wyloguj</button>


  <button *ngIf="(user$ | async) && (role$ | async) === RoleEnum.admin" mat-button
    [routerLink]="RouterEnum.admin">Admin</button>
  <button *ngIf="(user$ | async) && (role$ | async) === RoleEnum.user" mat-button
    [routerLink]="RouterEnum.addTeam">Dodaj zespół</button>
    <button *ngIf="(user$ | async) && (role$ | async) === RoleEnum.user" mat-button
    [routerLink]="RouterEnum.myEntries">Moje zgłoszenia</button>
  <button *ngIf="(user$ | async) && (role$ | async) === RoleEnum.jury" mat-button
    [routerLink]="RouterEnum.jury">Jury</button>
</mat-toolbar>
