<div class="homepage-container">
    <div class="text-section">
      <p>🚀 Dołącz do najbardziej ekscytującego wydarzenia technologicznego w regionie – Kieleckie Dni Informatyki 2024 Hackathon! 🖥️ Czekają na Ciebie 12 godzin pełne pasji, kreatywności i kodowania. Masz szansę wziąć udział w tworzeniu innowacyjnych projektów, poznać ciekawych ludzi i rozwijać swoje umiejętności programistyczne. Niezależnie od tego, czy jesteś doświadczonym programistą czy początkującym entuzjastą technologii, to wydarzenie jest dla Ciebie! 🌟 Przyjdź i dołącz do naszej niesamowitej społeczności twórców, entuzjastów i innowatorów. Zarejestruj się już teraz i przygotuj się na niesamowitą przygodę z kodowaniem! 💻 #KieleckieDniInformatyki #Hackathon2024 #Innowacje #Kreatywność #Technologia</p>
    </div>
    <div class="image-section">
      <img src="assets/img/homepage-tlo.png" alt="Zdjecie #KieleckieDniInformatyki">
      <button mat-button routerLink="/{{RouterEnum.register}}">Zarejestruj się</button>
    </div>
  </div>