<div class="add-team-container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Dodaj zespół</h2>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Nazwa zespołu</mat-label>
      <input type="text" matInput formControlName="teamName">
      <mat-error *ngIf="controls.teamName.invalid">{{getErrorMessage(controls.teamName)}}</mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>Krótki opis zespołu</mat-label>
      <input type="text" matInput formControlName="description">
      <mat-error *ngIf="controls.description.invalid">{{getErrorMessage(controls.description)}}</mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>Załącznik (PDF)</mat-label>
      <ngx-mat-file-input formControlName="file" accept=".pdf"></ngx-mat-file-input>
      <mat-error *ngIf="controls.file.invalid">Załącznik jest wymagany!</mat-error>
    </mat-form-field>
    

    <mat-form-field class="input" appearance="fill">
      <mat-label>Liczba uczestników</mat-label>
      <input type="number" matInput formControlName="amount" (change)="onAmountChange()">
      <mat-error *ngIf="controls.amount.invalid">{{getErrorMessage(controls.amount)}}</mat-error>
    </mat-form-field>

    <div formArrayName="users">
      <ng-container *ngFor="let userGroup of form.controls.users.controls; let i=index">
        <div [formGroupName]="i" class="user-group">
          <mat-form-field class="input" appearance="fill">
            <mat-label>{{i+1}}. Imię i nazwisko uczestnika</mat-label>
            <input type="text" matInput formControlName="nameAndSurname">
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>{{i+1}}. Adres E-mail uczestnika</mat-label>
            <input type="email" matInput formControlName="email">
          </mat-form-field>
        </div>
        <div class="user-margin"></div> 
      </ng-container>
    </div>
    
    
    
    
    

    <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Dodaj zespół</button>

  </form>

</div>
