<div class="add-team-container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Dodaj zespół</h2>
    <mat-form-field class="input" appearance="fill">
      <mat-label>nazwa zespołu</mat-label>
      <input type="text" matInput formControlName="teamName">
      <mat-error *ngIf="controls.teamName.invalid">{{getErrorMessage(controls.teamName)}}</mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>Opis</mat-label>
      <input type="text" matInput formControlName="description">
      <mat-error *ngIf="controls.description.invalid">{{getErrorMessage(controls.description)}}</mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>Załącznik (PDF)</mat-label>
      <ngx-mat-file-input formControlName="file" accept=".pdf"></ngx-mat-file-input>
      <mat-error *ngIf="controls.file.invalid">Załącznik jest wymagany!</mat-error>
    </mat-form-field>
    

    <mat-form-field class="input" appearance="fill">
      <mat-label>Liczba uczestników</mat-label>
      <input type="number" matInput formControlName="amount" (change)="onAmountChange()">
      <mat-error *ngIf="controls.amount.invalid">{{getErrorMessage(controls.amount)}}</mat-error>
    </mat-form-field>

    <div formArrayName="users">
      <div *ngFor="let userGroup of form.controls.users.controls; let i=index" [formGroupName]="i">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Uczestnik</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
      </div>
    </div>
    
    
    

    <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Dodaj zespół</button>

  </form>

</div>
